/* Mengatur semua elemen agar tidak ada dekorasi teks, 
margin dan padding 0, dan menggunakan box-sizing border-box */
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mengatur tampilan dasar dari body */
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/* Mengatur gaya untuk elemen nav (navigasi) */
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 10px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #8F2D2A;
    margin-bottom: 20px;
}

/* Mengatur gaya untuk elemen dengan class wrapper di dalam nav */
nav .wrapper{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px;
}

/* Mengatur gaya untuk elemen dengan class wrapper */
.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

/* Mengatur gaya untuk elemen img di dalam elemen dengan class logo */
.logo img{
    width: 80px;
    height: auto;
}

 /* Mengatur elemen dengan class "menu" menggunakan model flexbox */
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

/* Mengatur elemen <li> di dalam <ul> */
nav ul li{
    /* float: left; */
    margin-right: 20px;
}

/* Mengatur elemen <a> di dalam <li> */
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

/* Mengatur elemen <a> saat pengguna mengarahkan kursor (hover) */
nav ul li a:hover{
    text-decoration: none;
    color: #8F2D2A;
}

.hai{
    display: flex;
    align-items: center;
    margin-left: auto; 
    text-align: right;
    color: #344646;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-top: 1px solid #8F2D2A;
    margin: 0;
    padding: 30px;
  }
  
  .logo-footer img{
    width: 20%;
    height: auto;
    display: flex;
  }
  
  .logo-footer a{
    display: flex;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-style: normal;
    line-height: 150%; /* 36px */
    align-items: center;
  }
  .logo-footer{
    display: flex;
    align-items: center;
  }
  
  .iconMedsos{
    padding: 30px 0px 30px 10px;
    display: flex;
  }
  
  .footer-section-logo ul{
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
    display: flex;
  }
  .footer-section-logo img{
    padding-right: 10px;
  }
  
  .footer-section-menu{
    padding: 15px 20px 15px 100px;
    display: flex;
  }
  .topic ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  .topic ul li a{
    text-decoration: none;
    color: black;
    font-family: Inter;
    font-size: 16px;
    padding: 5px 0px;
    display: block; 
  }
  
  .item{
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 50px;
  }
  .item h4{
    padding: 10px;
    font-family: Inter;
    font-size: 16px;
  }