*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 10px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #8F2D2A;

}
nav .wrapper{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}


.logo img{
    width: 80px;
    height: auto;
}

.menu{
    display: flex;
    margin-left: 20px;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: none;
    color: #8F2D2A;
}

section{
    width: 100%;
    margin: 0;
    padding: 20px 0;
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.tengahCenter{
    width: 100%;
}

.kolom{
    margin-top: 30px;
    margin-bottom: 25px;
}

h1{
    color: #344646;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.6px;
}

p.tengah{
    color: #344646;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.square{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FFE4D1;
    border-radius: 10px;
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.lingkaran img{
    max-width: 100%;
    height:auto;
}

.lingkaran{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #E3A2A0;
    padding: 5px;
}

.ket{
    padding: 5px;
    margin-top: 10px;
    min-height: 30px;
}

.profile, .daftar, .jadwal{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 95%;
}

.profile:hover, .jadwal:hover{
   cursor: pointer;
   color: #8F2D2A;
   transition: color 0.3s ease;
}

.tengah {
    text-align: left;
    margin: 0;
}

.kolom1{
    margin-bottom: 25px;
}

h2{
    color: #344646;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.kolom1{
    margin-top: 10px;
    margin-bottom: 25px;
}

h3{
    color: #344646;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 60px */
}

.artikelBox{
    /* width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 20px;
}

.box {
    /* width: 100%;
    margin: 10px; */
    padding: 10px;
    /* background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}
.boxAtas {
    width: 100%; /* Ensure the image container takes full width of the grid column */
    height: 200px; /* Set a fixed height for uniformity */
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000 1px solid;
    border-radius: 5px;
    overflow: hidden; /* Ensure that the image doesn't overflow the container */
}

.boxAtas img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* border-radius: 5px; */
}

.boxBawah {
    align-items: center;
    text-align: justify;
    padding-top: 5px;
    text-decoration: none;
    color: black;
}

.boxBawah h4 {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
}

.boxBawah p {
    color: #344646;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-top: 1px solid #8F2D2A;
    margin: 0;
    padding: 30px;
}

.logo-footer img{
    width: 20%;
    height: auto;
    display: flex;
}

.logo-footer a{
    display: flex;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-style: normal;
    line-height: 150%; /* 36px */
    align-items: center;
}
.logo-footer{
    display: flex;
    align-items: center;
}

.iconMedsos{
    padding: 30px 0px 30px 10px;
    display: flex;
}

.footer-section-logo ul{
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
    display: flex;
}
.footer-section-logo img{
    padding-right: 10px;
}

.footer-section-menu{
    padding: 15px 20px 15px 100px;
    display: flex;
}
.topic ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.topic ul li a{
    text-decoration: none;
    color: black;
    font-family: Inter;
    font-size: 16px;
    padding: 5px 0px;
    display: block; 
}

.item{
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 50px;
}
.item h4{
    padding: 10px;
    font-family: Inter;
    font-size: 16px;
}