*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* Mengatur tampilan dasar dari body */
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/* Mengatur gaya untuk elemen nav (navigasi) */
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 10px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #8F2D2A;
    margin-bottom: 20px;
}

/* Mengatur gaya untuk elemen dengan class wrapper di dalam nav */
nav .wrapper{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px;
}

/* Mengatur gaya untuk elemen dengan class wrapper */
.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

/* Mengatur gaya untuk elemen img di dalam elemen dengan class logo */
.logo img{
    width: 80px;
    height: auto;
}

 /* Mengatur elemen dengan class "menu" menggunakan model flexbox */
 nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

/* Mengatur elemen <li> di dalam <ul> */
nav ul li{
    /* float: left; */
    margin-right: 20px;
}

/* Mengatur elemen <a> di dalam <li> */
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

/* Mengatur elemen <a> saat pengguna mengarahkan kursor (hover) */
nav ul li a:hover{
    text-decoration: none;
    color: #8F2D2A;
}

.hai{
    display: flex;
    align-items: center;
    margin-left: auto; 
    text-align: right;
    color: #344646;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;
}

/* Mengatur gaya untuk elemen <section> */
section {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.tengahCenter {
    width: 100%;
}

.kolom {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #344646;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.6px;
}

p.tengah {
    color: #344646;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}

.square {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    background-color: #FFE4D1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin: 10px; 
    padding: 10px;
    text-align: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.lingkaran {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    background-color: #E3A2A0;
    overflow: hidden; 
}

.lingkaran img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.bio {
    flex: 1; 
}

.bio p {
    margin: 10px 0; 
    font-family: Inter;
    font-size: 20px; 
    color: #344646;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
}


.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-top: 1px solid #8F2D2A;
    margin: 0;
    padding: 30px;
  }
  
  .logo-footer img{
    width: 20%;
    height: auto;
    display: flex;
  }
  
  .logo-footer a{
    display: flex;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-style: normal;
    line-height: 150%; /* 36px */
    align-items: center;
  }
  .logo-footer{
    display: flex;
    align-items: center;
  }
  
  .iconMedsos{
    padding: 30px 0px 30px 10px;
    display: flex;
  }
  
  .footer-section-logo ul{
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
    display: flex;
  }
  .footer-section-logo img{
    padding-right: 10px;
  }
  
  .footer-section-menu{
    padding: 15px 20px 15px 100px;
    display: flex;
  }
  .topic ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  .topic ul li a{
    text-decoration: none;
    color: black;
    font-family: Inter;
    font-size: 16px;
    padding: 5px 0px;
    display: block; 
  }
  
  .item{
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 50px;
  }
  .item h4{
    padding: 10px;
    font-family: Inter;
    font-size: 16px;
  }